In [3]:
import numpy as np
import pandas as pd

In [4]:
#importing the ML dependencies
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv(r"C:\Users\Navdeep\Desktop\Self Machine Learning\Credit card fraud detection\archive (7)\creditcard.csv")

In [7]:
df.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
df.shape

(284807, 31)

In [10]:
#Class has classification data (0 or 1)

In [11]:
df.tail(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [12]:
#The data is of almost 2 days

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [15]:
#checking the number of missing values in each row

In [16]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [17]:
#Check the distribution of legit transactions and fraudulent transactions

In [18]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [19]:
#there are 284315 which are normal and 492 transactions are fraudulent transaction.

In [20]:
'''
We will have to process the data 
'''

'\nWe will have to process the data \n'

In [21]:
#this data is highly unbalanced

In [22]:
#Separating the data for analysis

In [23]:
legit = df[df.Class ==0]
fraud = df[df.Class ==1]

In [25]:
fraud.shape

(492, 31)

In [26]:
legit.shape

(284315, 31)

In [27]:
#statistical measures for the data

In [28]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [29]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [30]:
#Compare the values of the two types of transactions

In [31]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [33]:
#Use the method called Under-sampling
#Build a sample dataset containing similar distribution of normal transaction
#And the fraudulent transactions

In [34]:
#Take the 492 normal transactions.
# this will create an even distribution of both types of transactions

In [35]:
legit_sample=legit.sample(n=492)

In [36]:
legit_sample.shape

(492, 31)

In [37]:
#Concatenating 2 data frames

In [42]:
df_new= pd.concat([legit_sample, fraud], axis = 0)

In [43]:
#Axis = 0 becasue we need to add the data row wise.
# Axis =1 if we need to add the data column wise.

In [45]:
df_new.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
184022,126058.0,-8.039290,-5.052992,-2.030430,5.035326,3.479798,-0.670642,-1.139223,-4.326749,-0.158961,...,1.334157,-1.056012,6.122044,-1.108610,-0.795350,-0.297265,2.915155,-0.636299,47.19,0
132184,79886.0,-0.601288,1.124426,1.459009,0.019813,0.796802,-1.059320,1.375453,-0.524893,-0.635911,...,0.042502,0.270594,-0.334102,0.414541,0.226453,-0.567176,-0.200644,-0.099800,1.14,0
272647,165197.0,-1.495459,-0.763180,1.615328,0.181906,0.638257,-0.059837,0.228989,0.203338,0.081206,...,-0.014642,-0.631183,0.368071,0.411761,0.386680,-0.339498,-0.010500,0.117259,182.36,0
202960,134577.0,1.906437,-1.387836,-0.622367,-0.085809,-1.439036,-0.649644,-0.823983,-0.085067,0.420192,...,-0.155260,0.005293,0.088787,0.052315,-0.289856,0.776184,-0.046041,-0.037640,118.00,0
1156,900.0,-1.239276,0.941957,1.008600,-0.624973,-0.150140,-0.296631,0.063537,0.507260,0.038386,...,0.065438,0.258003,-0.283958,0.090616,-0.106607,0.478273,-0.035538,0.056306,1.00,0

In [46]:
df_new.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [48]:
df_new['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [49]:
df_new.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,90413.457317,-0.006393,0.043311,0.111184,-0.017279,-0.075018,0.003623,0.018732,-0.034701,-0.053192,...,-0.062896,-0.004844,-0.001337,-0.040836,-0.02850,0.024302,-0.023095,0.008222,0.004214,83.732073
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [50]:
#the difference is still there. This difference will help us in differentiating
#good transactions from the fraudulent one.

In [51]:
#splitting the data into feature and target

In [52]:
X = df_new.drop(columns='Class', axis= 1)
Y = df_new['Class']

In [54]:
X.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount'],
      dtype='object')

In [56]:
print(Y)

184022    0
132184    0
272647    0
202960    0
1156      0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [57]:
#Splitting the data into train and test

In [58]:
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=.2, stratify=Y, random_state=2)

In [59]:
#In the above line, we are taking all the feautes in X and labels in the Y
#Test_size takes 20% of the data to test and calculate the accuracy.
#Stratify the data means, the distribution of 1s and 0s will be even.
#Random_state - need to check

In [63]:
X_train.shape

(787, 30)

In [64]:
X_test.shape

(197, 30)

In [66]:
#Train the model using logistic regression (used for binary classification)

In [67]:
model = LogisticRegression()

In [69]:
#train the model with the training data

In [70]:
model.fit(X_train, Y_train)

C:\Users\Navdeep\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [72]:
#Evaluate the model (Accuracy Score)

In [73]:
#Trying first with the training data

In [74]:
train_pred=model.predict(X_train)
data_acc = accuracy_score(train_pred, Y_train) #Y_train is added for comparison

In [75]:
#Print the accuracy on the training data

In [76]:
print(data_acc)

0.9453621346886912

In [77]:
#Model gave a great accuracy score for the training data

In [78]:
test_pred = model.predict(X_test)
data_accuracy= accuracy_score(test_pred, Y_test)

In [80]:
print(data_accuracy)

0.9238578680203046

In [81]:
#The model gave amazing accuracy score.

In [82]:
#If there is alot of difference in the accuracy of training data prediction 
# and the test data prediction - it is said that the data is either overfitted or underfitted.